/*  your css code here. If applicable */
body {
        background-color: #f8f8f8;
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
    }

    .book-library {
        width: 90%;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    .book {
        width: 200px;
        background: #fff;
        padding: 15px;
        border: 1px solid #ddd;
        margin: 20px;
        display: inline-block;
        vertical-align: top;
    }

    .book img {
        width: 100%;
    }

    .book p {
        color: #777777;
        margin: 5px 0;
    }

    .price-block {
        background-color: #2ecc71;
        color: #ffffff;
        padding: 8px;
        margin-top: 10px;
        border-radius: 8px;
        text-align: center;
    }
